<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!--
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
    -->
  </head>
  <body>
    <div id="dropzone" hidden></div>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <input type="file" name="upload" id="file"/>
	  <input type="text" name="token" id="token" hidden>
	  <input type="text" name="nickname" id="nickname" hidden>
      <input type="submit" value="Send file"/>
    </form>
	<p><a href="/">Return to main page</a></p>
    <script src="/upload_script.js"></script>
  </body>
</html>